<app-header></app-header>
<main>
  <!-- Billboard Section -->
  <app-billboard></app-billboard>

  <!-- Company Services Section -->
  <app-company-services></app-company-services>

  <!-- Featured Projects Section -->
  <section class="py-5 bg-white">
    <div class="container">
      <div class="text-center">
        <h2 class="display-4 fw-bold text-dark mb-3">Our Featured Projects</h2>
      </div>
    </div>
  </section>

  <!-- Modern Living Room Section -->
  <app-modern-living-room></app-modern-living-room>

  <!-- Villa Project Section -->
  <app-villa-project></app-villa-project>

  <!-- Mixed-Use Development Section -->
  <app-mixed-use-development></app-mixed-use-development>

  <!-- Yearly Sale Section -->
  <app-yearly-sale></app-yearly-sale>


  <!-- Subscribe Section -->
  <app-subscribe></app-subscribe>

  <!-- Instagram Section -->
  <app-instagram></app-instagram>
</main>

<app-footer></app-footer>
